NODE_ENV=production
PORT=5030
CORS_ORIGINS=https://trips.netrona.xyz

DB_HOST=mysql-netrona01
DB_PORT=3306
DB_USER=trip_app
DB_PASSWORD=trip_app01
DB_DATABASE=trip_app

TRIP_CODE=europa-2026
TRIP_ADMIN_KEY=072026
JWT_SECRET=una-clave-larga-para-el-jwt
UPLOADS_DIR=storage/uploads
PUBLIC_UPLOADS_PATH=/uploads
